@font-face {
    font-family: 'Karmatic Arcade';
    src: url("fonts/ka1.ttf");
}

.button {
    -fx-background-color: black;
    -fx-text-fill: #4AD818;
    -fx-font-family: 'Karmatic Arcade', monospace;
    -fx-font-size: 35px;
    -fx-background-radius: 30;
}
