@font-face {
    font-family: 'Karmatic Arcade';
    src: url("fonts/ka1.ttf");
}

.button {
    -fx-background-color: #A5AA8D;
    -fx-text-fill: black;
    -fx-font-family: 'Karmatic Arcade', monospace;
    -fx-font-size: 23px;
    -fx-background-radius: 30;
}

.root {
    -fx-background-color: radial-gradient(radius 0%, #330066CC 0%, #111122CC 100%);
}

.slider {
    -fx-background-color: #A5AA8D;
    -fx-background-radius: 30;
}




